*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.clearfix::after{
    content:"";
    display:table;
    clear:both;
}
body{
    background-image:linear-gradient(rgba(62,20,20,0.4),rgba(62,20,20,0.4)),url(back02.jpg);
    background-origin: content-box;
    background-size: cover;
    background-position:center;
    font-family:bitter;
    font-weight:300;
    position:relative;
    height:100vh;
}


.acc{
    font-size:60px;
    text-align:center;
    margin-top:100px;
    
   /*  letter-spacing: 2px;
    font-weight:100;
    margin-bottom:10px;
    position: relative; */
}
.img{
    width:1px;
    height:300px;
    margin-left: 70px; 
    margin-top: 100px;
    width: 20%;
    padding: 10px;
}
.acc:first-child i:hover {
    background: yellow;
  }
  p::after { 
    content: " - Remember this";
  }
  p::first-letter {
    font-size: 200%;
    color: #8A2BE2;
  }
  ::selection {
    color: red;
    background: yellow;
  }
/*.format{
    width:600px;
    height:800px;
    position:absolute;
    top:40%;
    left:50%;
    transform:translate(-50%,-55%);
    background-color:#fff;
    box-shadow:0px 10px 50px rgba(0,0,0,0.3);
    overflow:hidden; 
}
.ab{
    
    font-size:30px;
    position:relative;
    padding-left:2rem;
    margin-top:2rem;
    color: rgb(5, 1, 1);
  
} */